<div class="login-signup-background">
  <div class="login-signup-container">
    <h1 class="vensei">Vensei</h1>
    <%= render(
      "layouts/username_password_form",
      url: session_url,
      button_msg: "Log In",
      user: @user
    ) %>

    <%= button_to "Register", new_user_url, method: :get %>


    <form class="guest-login" action="<%= users_url %>" method="post">
      <%= csrf_tag %>

        <input type="hidden" class="form-control"
          type="text" name="user[username]"
          value="guest_<%= Faker::Hacker.noun + Faker::App.name + Faker::Hacker.verb + rand(1..999).to_s %>">
        <input type="hidden"
          class="form-control" type="password" name="user[password]"
          value="password"
          >

      <input class="btn btn-primary guest-signin" type="submit" value="Sign in as Guest">
    </form>



  </div>
</div>
