<div class="vine-container-<%= number %> vine-container col-md-4">
  <div class="vine vine-<%= number %> away">

    <h1 class="vine-author vine-author-<%= number %>" >
      Vine by
      <a
        class="vine-author-link vine-author-link-<%= number %>"
        href="<%= "vine.author_profile_url" %>"
      >
        <%= "vine.vine_author" %>
      </a>
    </h1>

    <video
      controls
      class="vine-vid-<%= number %> vine-vid"
      width="330" height="330">

    </video>

    <p class="vine-text">
      <a class="vine-text-link vine-text-link-<%= number %>">
        <%= vine.text %>
      </a>
    </p>
  </div>
</div>
