<div class="vine-container-<%= number %> vine-container">
  <div class="vine vine-<%= number %> away">

    <h1 class="vine-author vine-author-<%= number %>" >
      More vines by
      <a
        class="vine-author-link vine-author-link-<%= number %>"
        href="<%= vine.escape('author_profile_url') %>"
      >
        <%= vine.escape('vine_author') %>
      </a>
    </h1>

    <video
      controls
      class="vine-vid-<%= number %> vine-vid">
    </video>

    <p class="vine-text">
      <a
        class="vine-text-link vine-text-link-<%= number %>"
        href="<%= vine.escape('vine_url') %>">
        <%= vine.escape('text') %>
      </a>
    </p>
  </div>
</div>
