<div class="vine-container-<%= number %> vine-container col-md-4">
  <div class="vine vine-<%= number %> away">

    <h1 class="vine-author vine-author-<%= number %>" >
      From
      <a class="vine-author-link vine-author-link-<%= number %>">
        @omnificent_don
      </a>
    </h1>

    <video
      controls
      class="vine-vid-<%= number %> vine-vid"
      width="330" height="330">

    </video>

    <p class="vine-text">
      <a class="vine-text-link vine-text-link-<%= number %>">
        This is thsljslmfsoivja;lvmaljilxcvmldfjlmck
        alkjflfjlm
        adflkjlkf
        clkajsdf
      </a>
    </p>
  </div>
</div>
