<!DOCTYPE html>
<html>
<head>
  <title>Vensei</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<script type="text/javascript">
  window.CURRENT_USER_USERNAME = "<%= current_user.try(:username) %>"
  window.CURRENT_USER_ID = "<%= current_user.try(:id) %>"
  window.DUMMY_USER_USERNAME = "<%= dummy_user.try(:username) %>"
  window.DUMMY_USER_ID = "<%= dummy_user.try(:id) %>"

  var $viewportMeta = $('meta[name="viewport"]');
  $('input, select, textarea').bind('focus blur', function(event) {
    $viewportMeta.attr(
      'content',
      'width=device-width,initial-scale=1,maximum-scale=' + (event.type == 'blur' ? 10 : 1)
    );
  });
</script>
<body>
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>
  <%= yield %>

</body>
</html>
